<form id ="newConversation">
		<legend>Create new conversation</legend>
	<input name="name" type="text" class="form-control" id="chatroom" placeholder="ChatRoom Name">
	<input name="number" type="text" class="form-control" placeholder="Phone Number">
	<button type="submit" class="btn btn-primary">Add</button>
</form>