   <form id="new-message" data-id="<%= chat._id %>">
      <textarea class="form-control" name="messagebody" rows="2" id="textbody" required></textarea>   
      <input class="pull-right" type="submit" value="Send">
    </form>