<!DOCTYPE html>
<html>
  <%- include _head.ejs %>

<body>
  <%- include _navbar.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Text for Medical Help</h1>
      <div class="lead"><b>Send SMS To:</b> +1.555.5555</div>
    </div>
  </div>
  <div class="container">
  	<hr>
  	<div class="row">
  		<div class="col-sm-4">
  			<h3 class='text-center'>Secure</h3>
  			<div class="lead">Totally secure</div>
  		</div>
  		<div class="col-sm-4">
  			<h3 class='text-center'>Secure</h3>
  			<div class="lead">Totally secure</div>
  		</div>
  		<div class="col-sm-4">
  			<h3 class='text-center'>Secure</h3>
  			<div class="lead">Totally secure</div>
  		</div>
  	</div>
  </div>
</body>
</html>